.title,
.description {
    color: black;
    font-size: 14px;
    font-weight: 600
}

.title:hover{
    cursor: pointer;
}

.status-new {
    color: green;
}

.status-done {
    color: blue;
}

.status-doing {
    color: rgb(255, 166, 0);
}