.content-overflow {
  // overflow-wrap: break-word;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap 
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.ant-select-selector{
  border: none !important;
  padding: 0 !important;
  box-shadow:none !important;
  outline:none !important;
}

.ant-select-selection-search{
  border: none !important;
  padding: 0 !important;
}


.ant-select-single{
  height: 38px;
}

.ant-picker-status-error{
  border-width: 3px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}